body{
  font-family: sans-serif;
  font-size: 25px;

  
}
header {
    text-align: center;
    background-color: #242424;
     padding: 15px;
    border: 10px solid red;
    border-radius: 30px;
}
h1 {
 color:white;
}
a {
   color: #ffe17d;
      border: 5px solid red;
   padding: 7px;
   border-radius:20px ;
   background-color: #8a0101;
}
.p3 {
    background-color: violet;
}
.h767 {
    color: #8c00ff;
    background-color: black;
}
main {
    color: white;
    background-color: black;
    border: 15px solid red;
    border-radius: 30px;
    padding: 30px;
}
footer {
       text-align: center;
    background-color: #242424;
     padding: 15px;
    border: 10px solid red;
    border-radius: 30px;
}
p {
   background-color: grey;
}
ol {
    color:white;
}
